a {
    text-decoration: none;
}
.users{
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #696969;
  }
  .formInputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .formInputs input {
    margin-left: 10px;
  }
  .devices {
    border: 1px solid black;
    min-height: 20px;
    margin-top: 30px;
  }
  .addElem {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    border: 0.5px solid black;
    background-color: #F6F6F6;
    padding: 3px 4px;
    border-radius: 5px;
    margin: 0px 10px;
    text-decoration: none;
    cursor: pointer;
  }
  .addElem:active {
    background-color: #dbdbdb;
  }
  .addElem:hover {
    color: #000000;
  }
  .controller_div {
      padding: 20px;
  }
  button{
      border: 0;
      border-radius: 5px;
      margin: 5px;
  }
  .myclass {
      background-color: rgb(208, 188, 255);
  }
  
  .quest {
      
      border-bottom: 1px solid #aaa; 
      margin-bottom: 10px; 
  }
  .questcolor {
      background: #F6F6F6;
  }
  .questselectedcolor{ 
      background: #ddd;
  }
  .answer {
      border-bottom: 1px solid #ccc; 
      margin-bottom: 10px;
      padding-bottom: 10px;
  }
  .vote {
      float: left; 
      text-align: center; 
      width: 21px; 
      margin-right: 20px;
  }
  .vote-up, .vote-down{
      display: block;
      margin: 0px auto;
      width: 21px;
      height: 25px;
  }
  .vote-up{
      background-position: 0px 0px;
      background-image:url(./assets/img/up-arrow-svgrepo-com.svg);
      background-repeat: no-repeat;
      overflow: hidden;
  }
  .vote-down{
      background-position: 0px 0px;
      background-image:url(./assets/img/down-arrow-svgrepo-com.svg);
      background-repeat: no-repeat;
      overflow: hidden;
  }